Repository PaulaSena/financeEllis: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

fix(react): corrigir erros do package json1
  package-lock.json
Due: none

fix(react): corrigir erros do package json_teste retirado variavel nao instanciada indo para teste de formatacao
  package-lock.json
Due: none

chore: EsLint and prettier
  package.json
Due: none

chore: add git commit message linter husky> hooks commit-msg-linter@5.0.8
  .husky/commit-msg
  package-lock.json
  package.json
Due: none

feat: add img Authentication Completed Successfully
  README.md
  app/layout.tsx
  public/v1.PNG
Due: eslint --fix

feat: update font to mulish
  app/fonts/GeistMonoVF.woff
  app/fonts/GeistVF.woff
  app/layout.tsx
Due: eslint --fix

chore: add docker compose file
  .gitignore
  docker-compose.yml
Due: none

chore: add user id property to transaction table
  .vscode/settings.json
  prisma/schema.prisma
Due: none

fix: error commit eslint --fix
  .lintstagedrc.json
Due: none

feat: add transaction type badge
  .lintstagedrc.json
  app/_components/ui/badge.tsx
  app/_components/ui/data-table.tsx
  app/_components/ui/table.tsx
  app/_lib/prisma.ts
  app/globals.css
  app/page.tsx
  app/transactions/_columns/index.tsx
  app/transactions/_components/type-badge.tsx
  app/transactions/page.tsx
  package-lock.json
  package.json
  tailwind.config.ts
  tsconfig.json
Due: eslint --fix, stylelint --fix

feat: ensure transactions table labels are renderd proprery
  .eslintignore
  app/_constants/transactions.ts
  app/transactions/_columns/index.tsx
Due: eslint --fix

feat: add description in bd, colunm and form
  app/transactions/_columns/index.tsx
  prisma/migrations/20241109141309_init_db/migration.sql
  prisma/schema.prisma
Due: eslint --fix

feat: create add transaction dialog and format
  .eslintignore
  .eslintrc.js
  README.md
  app/_components/add-transaction-button.tsx
  app/_components/money-input.tsx
  app/_components/ui/button.tsx
  app/_components/ui/calendar.tsx
  app/_components/ui/command.tsx
  app/_components/ui/date-picker.tsx
  app/_components/ui/dialog.tsx
  app/_components/ui/drawer.tsx
  app/_components/ui/form.tsx
  app/_components/ui/input.tsx
  app/_components/ui/label.tsx
  app/_components/ui/popover.tsx
  app/_components/ui/select.tsx
  app/_lib/utils.ts
  app/globals.css
  app/login/page.tsx
  app/transactions/_columns/index.tsx
  app/transactions/_components/type-badge.tsx
  app/transactions/page.tsx
  components.json
  docker-compose.yml
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

feat: ensure transaction can be created
  .eslintignore
  .eslintrc.js
  .gitignore
  .vscode/settings.json
  app/_actions/upsert-transaction/index.ts
  app/_actions/upsert-transaction/schema.ts
  app/_components/add-transaction-button.tsx
  app/_components/ui/input.tsx
  app/_components/upsert-transaction-dialog.tsx
  app/login/page.tsx
  app/transactions/_columns/index.tsx
  app/transactions/_components/edit-transaction-button.tsx
  package-lock.json
  package.json
  prettier.config.js
  prisma/migrations/20241109141309_init_db/migration.sql
  prisma/schema.prisma
  public/login.jpeg
  tailwind.config.js
  tailwind.config.ts
  tsconfig.json
Due: eslint --fix

feat: add navbar component
  .eslintrc.json
  app/_components/navbar.tsx
  app/layout.tsx
  app/page.tsx
  app/subscription/page.tsx
  app/transactions/page.tsx
  next.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix

feat: migrate add_recurrence_and_installments
  app/_actions/upsert-transaction/index.ts
  app/_components/navbar.tsx
  app/_components/upsert-transaction-dialog.tsx
  app/_constants/transactions.ts
  app/page.tsx
  app/subscription/page.tsx
  app/transactions/_columns/index.tsx
  app/transactions/page.tsx
  prisma/migrations/20241109141309_init_db/migration.sql
  prisma/migrations/20241109143317_init_db/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --fix

feat: created seed transaction table
  app/_actions/upsert-transaction/schema.ts
  package-lock.json
  package.json
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --fix

feat: nav and config upsertTransaction
  .eslintrc.js
  app/_actions/upsert-transaction/index.ts
  app/_components/navbar.tsx
  app/_components/upsert-transaction-dialog.tsx
  app/layout.tsx
  app/subscription/page.tsx
  next.config.mjs
Due: eslint --fix

feat: added a new transaction
  .eslintrc.cjs
  .eslintrc.js
  app/_actions/upsert-transaction/index.ts
  app/_actions/upsert-transaction/schema.ts
  app/_components/upsert-transaction-dialog.tsx
  app/_constants/transactions.ts
  app/layout.tsx
  app/transactions/_components/edit-transaction-button.tsx
  eslint.config.cjs
  eslint.config.mjs
  next.config.cjs
  next.config.ts
  package-lock.json
  package.json
  postcss.config.js
  prisma/schema.prisma
  prisma/seed.ts
  tsconfig.json
Due: eslint --fix

feat: add a new format
  .eslintrc.cjs
  .eslintrc.json
  app/_actions/upsert-transaction/index.ts
  app/_components/add-transaction-button.tsx
  app/_components/money-input.tsx
  app/_components/navbar.tsx
  app/_components/ui/button.tsx
  app/_components/ui/calendar.tsx
  app/_components/ui/date-picker.tsx
  app/_components/ui/dialog.tsx
  app/_components/ui/input.tsx
  app/_components/ui/select.tsx
  app/_components/upsert-transaction-dialog.tsx
  app/layout.tsx
  app/login/page.tsx
  app/transactions/_columns/index.tsx
  app/transactions/page.tsx
  eslint.config.cjs
  package-lock.json
  package.json
  settings.json
  tsconfig.json
Due: eslint --fix

fix: added transaction with recurrence and build for vercel
  .eslintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  eslint.config.cjs
  package-lock.json
  package.json
  tsconfig.json
Due: none

fix: eslint vercel
  .eslintrc.json.txt
  .eslintrc.txt
  package-lock.json
  package.json
Due: none

feat: install hasInstallScript, postinstall ,prisma generate && next build
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --fix: ((any of: *.js) or (any of: *.ts)) or (any of: *.tsx)
  stylelint --fix: any of: *.css
